streamlit==1.45.1
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
sentence-transformers==3.4.1
torch==2.5.1
torchvision==0.20.1
transformers==4.47.1
faiss-cpu==1.14.2
catboost==1.2.7
spacy==3.8.2
pypdf==5.1.0
joblib==1.4.2
